body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background: transparent ;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: #ebe4e4;
    color: #333;
}

.form-group input::placeholder {
    color: #aaa;
}

.form-group input:focus {
    outline: 2px solid #000000;
}

.form-group .half {
    width: 100%;
    display: inline-block;
}

.btn {
    display: block;
    width: 100%;
    background: #ff7e5f;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #feb47b;
}

.form-group.clearfix {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add consistent spacing */
}

.form-group .half {
    width: 48%;
}
