.prague-header.simple.sticky-menu.dark .prague-logo a img {
    filter: invert(1);
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-logo a img {
    filter: invert(0);
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-nav-menu-icon a {
    border: 1px solid rgba(17, 17, 17, 0.4);
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-nav-menu-icon a:hover {
    border: 1px solid rgba(17, 17, 17, 0.4);
    background-color: #fff;
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-social-nav a:hover {
    border: 1px solid rgba(17, 17, 17, 0.4);
    background-color: #fff;
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-social-nav .social-content a {
    border: 1px solid rgba(242, 242, 242, 0.4);
    color: #ffffff;
}

.prague-header.light .prague-social-nav .social-content a {
    border: 1px solid rgba(17, 17, 17, 0.4);
    color: #111;
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-social-nav a {
    border: 1px solid rgba(17, 17, 17, 0.4);
    color: #111111;
}

.prague-header.simple.sticky-menu.dark.open-menu .prague-nav-menu-icon a i::after,
.prague-header.simple.sticky-menu.dark.open-menu .prague-nav-menu-icon a i::before {
    background-color: #111111;
}

.prague-header.dark .main-menu li a {
    color: white !important;
}

.prague-header .prague-social-nav a {
    border: 1px solid rgba(242, 242, 242, 0.4);
    color: #ffffff;
}

.prague-header.open-menu .prague-social-nav a {
    border: 1px solid rgba(242, 242, 242, 0.4);
    color: #ffffff;
}

.prague-header .prague-nav-menu-icon a {
    border: 1px solid rgba(242, 242, 242, 0.4);
}

.prague-header .prague-nav-menu-icon a i {
    background-color: #ffffff;
}

.prague-header .prague-nav-menu-icon a i::after,
.prague-header .prague-nav-menu-icon a i::before {
    background-color: #ffffff;
}

.prague-header.open-menu .prague-social-nav .social-content a {
    border: 1px solid rgba(17, 17, 17, 0.4);
    color: #111;
}